body{
    margin: 0;
    background-image: url("img/bg.jpg");
    /* background-size: 100% 100%; */
    background-size: cover;
    /* background-size: contain; */
    background-repeat: no-repeat;
    background-position: center;
    
}

img{
    width: 300px;
    height: 300px;
    background: transparent;
    
}

/* .form-control{
    width: 100% !important;
} */

.container-fluid{
    /* background: red; */
    padding: 0 2.5% 0 2.5% !important;
}

.header-center{
    margin-top: 15%;
}

#box{
    -webkit-box-shadow: 6px -4px 0px -1px rgba(99,93,176,1);
    -moz-box-shadow: 6px -4px 0px -1px rgba(99,93,176,1);
    box-shadow: 6px -4px 0px -1px rgba(99,93,176,1);
    background: white;
    padding: 90px 40px;
    border-radius: 5px;
    margin: 0 5% 10% 5%;
}

.t5, .t3, .t1{
    margin-bottom: -15px !important;
    font-family: 'Lato', sans-serif;
}

.text{
    font-family: 'Lato', sans-serif !important;
}

.t1{
    margin-top: 20px !important;
    margin-bottom: -15px !important;
}

h2.color1{
    color: rgb(7, 28, 87);
}
/* h2.title-form{
    margin-top: -20px !important;
    margin-bottom : 20px !important;
}

h1{
    margin-bottom: -15px !important;
}

h2{
    margin-bottom: -5px !important;
}

div.header-text-right{
    margin-top: 50px !important;
    margin-bottom: 80px !important;
}

div.header-center{
    margin-top: 175px !important;
}

img{
    margin-top: 250px;
    width: 300px;
    height: 300px;
} */

@media (min-width: 1200px) {
    img{
        margin-top: 250px;
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 978px) {
    .header-center{
        margin-top: 15%;
    }

    img{
        margin-top: 10%;
        margin-bottom: 80%;
        /* width: 300px;
        height: 300px;*/
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}